In [6]:
import pandas as pd
import math

In [2]:
def y_func(x):  
    return math.tan(pow(x,2))/(pow(x,2) + 1)

def y_func_test(x):
    return math.sin(2*x-2.1)/(pow(x,2)+1)

In [3]:
# 3
# h = 0.1
# a = 0.2
# b = 1

In [4]:
#test
h = 0.05
a = 1.2
b = 1.6

In [12]:
x = []
y = []
for i in range(0,9):
    xi = a + h*i
    yi = y_func_test(xi)
    x.append(xi)
    y.append(yi)


I = h/3
_ = y[0]+y[8]

sum1=0
for i in range(1,8,2):
    sum1+=y[i]
_+=sum1*4

sum2 = 0
for i in range(2,7,2):
    sum2+=y[i]
_+=sum2*2

I*=_

yp1 = []
yp2 = []
yp3 = [] 
yp4 = []

for i in range(len(y)-1):
    yp1.append(y[i+1] - y[i])


for i in range(len(yp1)-1):
    yp2.append(yp1[i+1] - yp1[i])

for i in range(len(yp2)-1):
    yp3.append(yp2[i+1] - yp2[i])

for i in range(len(yp3)-1):
    yp4.append(yp3[i+1] - yp3[i])

df = pd.DataFrame({
    'y': y,
    'yp1': yp1 + [None],  # Заполняем последнюю позицию None
    'yp2': yp2 + [None, None],  # Заполняем последние позиции None
    'yp3': yp3 + [None, None, None],  # Заполняем последние позиции None
    'yp4' : yp4 + [None, None, None, None]
})
df

          y       yp1       yp2       yp3       yp4
0  0.121115  0.030853 -0.004596  0.000165  0.000032
1  0.151968  0.026257 -0.004432  0.000197  0.000025
2  0.178225  0.021825 -0.004235  0.000222  0.000019
3  0.200050  0.017591 -0.004013  0.000240  0.000013
4  0.217641  0.013578 -0.003773  0.000254  0.000009
5  0.231219  0.009805 -0.003519  0.000263       NaN
6  0.241024  0.006286 -0.003256       NaN       NaN
7  0.247310  0.003030       NaN       NaN       NaN
8  0.250339       NaN       NaN       NaN       NaN

In [13]:
R = ((b-a)*max(max(yp4),abs(min(yp4))))/180
dI = (b-a)*max(max(yp4),abs(min(yp4)))

In [14]:
print(R,dI)

7.143959401397413e-08 1.2859126922515344e-05