In [1]:
import pandas as pd
import math

In [2]:
# 3

def y_func(x):  
    return math.tan(pow(x,2))/(pow(x,2) + 1)
        
h = 0.1
a = 0.2
b = 1

In [3]:
#test

# def y_func(x):
#     return math.sin(2*x-2.1)/(pow(x,2)+1)

# h = 0.05
# a = 1.2
# b = 1.6

In [4]:
x = []
y = []
for i in range(0,9):
    xi = a + h*i
    yi = y_func(xi)
    x.append(xi)
    y.append(yi)

In [5]:
y0y8 =  [y[0]] + [None]*7 + [y[8]]
y1y3y5y7 = [y[i] if i%2==1 else None for i in range(9)]
y2y4y6 = [y[i] if i in [2,4,6] else None for i in range(9)]

I = h/3 * (sum(filter(None, y0y8)) + 4 * sum(filter(None,y1y3y5y7)) + 2 * sum(filter(None,y0y8)))

I

0.24510613716186672

In [6]:
table1 = pd.DataFrame({
    'x' : x,
    'y0, y8' : y0y8,
    'y1, y3, y5, y7' : y1y3y5y7,
    'y2, y4, y6' : y2y4y6
})

table1

     x    y0, y8  y1, y3, y5, y7  y2, y4, y6
0  0.2  0.038482             NaN         NaN
1  0.3       NaN        0.082792         NaN
2  0.4       NaN             NaN    0.139120
3  0.5       NaN        0.204274         NaN
4  0.6       NaN             NaN    0.276767
5  0.7       NaN        0.357979         NaN
6  0.8       NaN             NaN    0.453990
7  0.9       NaN        0.580362         NaN
8  1.0  0.778704             NaN         NaN

In [7]:

yp1 = []
yp2 = []
yp3 = [] 
yp4 = []

for i in range(len(y)-1):
    yp1.append(y[i+1] - y[i])


for i in range(len(yp1)-1):
    yp2.append(yp1[i+1] - yp1[i])

for i in range(len(yp2)-1):
    yp3.append(yp2[i+1] - yp2[i])

for i in range(len(yp3)-1):
    yp4.append(yp3[i+1] - yp3[i])

table2 = pd.DataFrame({
    'y': y,
    'yp1': yp1 + [None],  # Заполняем последнюю позицию None
    'yp2': yp2 + [None, None],  # Заполняем последние позиции None
    'yp3': yp3 + [None, None, None],  # Заполняем последние позиции None
    'yp4' : yp4 + [None, None, None, None]
})
table2

          y       yp1       yp2       yp3       yp4
0  0.038482  0.044310  0.012017 -0.003192  0.001706
1  0.082792  0.056328  0.008826 -0.001486  0.002864
2  0.139120  0.065153  0.007340  0.001379  0.004703
3  0.204274  0.072493  0.008719  0.006081  0.009479
4  0.276767  0.081212  0.014800  0.015561  0.026049
5  0.357979  0.096012  0.030360  0.041610       NaN
6  0.453990  0.126372  0.071970       NaN       NaN
7  0.580362  0.198342       NaN       NaN       NaN
8  0.778704       NaN       NaN       NaN       NaN

In [8]:
R = ((b-a)*max(max(yp4),abs(min(yp4))))/180
dI = (b-a)*max(max(yp4),abs(min(yp4)))

In [9]:
print(R,dI)

0.00011577405567764161 0.02083933002197549